.body__site {
    margin: 0 auto;
    max-width: 991px;
    width: 95%;
}

.header__site {
    height: 100px;
}

.header__site .h1 {
    height: 100px;
    line-height: 100px;
    font-family: sans-serif;
}

.footer__site {
    background-color: #d1d7d8;
    margin: 0;
    padding: 10px 0;
    width: 100%;
}