.body__site {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100%;
}

.container {
    margin: 0 auto;
    max-width: 95%;
    width: 1200px;
}

.header__site {
    font-family: sans-serif;
    height: 150px;
    width: 100%;
    background: #c25421;
}

.header__site .nav__site {
    width: 100%;
}

.nav__site ul {
    list-style: none;
    height: 40px;
    line-height: 40px;
    font-size: 22px;
    padding-left: 0;
}

.nav__site li {
    display: inline;
}

.nav__site li a {
    padding: 5px 10px;
}

.header__site .h1 {
    font-family: sans-serif;
    height: 50px;
    line-height: 50px;
}

.header__site .h1,
.header__site a {
    color: #FFFFFF;
}

.main__site {
    background: #EEEEEE;
    flex: 1 0 100%;
}

.article p {
    font-family: arial;
    font-size: 20px;
    line-height:1.5;
}

.article .image__article {
    box-shadow: #4d4b45 2px 2px 8px;
    margin: 20px auto;
    max-width: 100%;
    width: auto;
}

.article:not(:last-of-type) {
    border-bottom: 3px solid #d1d7d8;
}

.footer__site {
    background-color: #d1d7d8;
    margin: 0;
    min-height: 45px;
    padding: 10px 0;
    width: 100%;
}

.h1, .h2, .h3, .h4, .h5 {
    font-family: sans-serif;
}

.h1 {
    font-size: 45px;
    line-height: 48px;
}
.h2 {
    font-size: 40px;
    line-height: 43px;
}
.h3 {
    font-size: 35px;
    line-height: 38px;
}
.h4 {
    font-size: 30px;
    line-height: 33px;
}
.h5 {
    font-size: 25x;
    line-height: 28px;
}

@media screen and (min-width: 991px) {
    .article .image__article {
        max-width: 40%;
        float: right;
        margin-left: 25px;
    }
    .article::after {
        content: "";
        display: block;
        width: 100%;
    }
}